@import "../../utils/styles/base";
.all {
  background: url("../../../img/cevaidksimcer.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
}
.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  margin: 50px 50px;

  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;

    thead {
      background: $main_green;

      tr {
        border-bottom: 30px solid $black2;

        th {
          padding: 12px 15px;
          font-size: 20px;
          color: white;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        position: relative;
        display: table-row;
        background: #4b4b4bcc;
        border-bottom: 15px solid transparent;
      }
      td {
        padding: 20px 0;
        text-align: center;

        * {
          vertical-align: middle;
        }

        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          object-fit: cover;
          border-radius: 90%;
        }

        a {
          font-size: 18px;
          color: $light_green;
          margin: 10px;
        }

        span {
          font-size: 18px;
          color: white;
        }
        .buttons {
          width: 170px;
          height: 35px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;

          button,
          input {
            width: calc(170px / 3);
            text-align: center;
            font-size: 16px;
            outline: none;
            height: 100%;
            border: none;
          }
          button {
            background: $main_green;
            cursor: pointer;

            i {
              font-size: 20px;
              color: white;
            }
          }
        }
        .bbb {
          width: 170px;
          margin: auto;
          cursor: pointer;
          margin-top: 6px;
          background: $dark_green;
          padding: 6px;
          font-size: 16px;
          color: white;
          border: none;
          i {
            margin-right: 7px;
          }
        }
      }
      .delete {
        border: none;
        cursor: pointer;
        background: #dc3545;
        color: white;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0;
        border: 2px solid white;
      }
    }
  }
}

.final {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .form {
    width: 60%;
    padding: 20px;
    background: #4b4b4bcc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;

      .input_group {
        flex: 1;

        h4 {
          font-size: 23px;
          color: white;
        }
        input {
          margin: 5px;
          padding: 7px 13px;
          font-size: 15px;
          border-radius: 10px;
          height: 40px;
          width: 80%;
          border: 4px solid $light_green;
        }
      }
    }
    small b {
      font-size: 17px;
      color: $main_green;
      margin-top: 10px;
    }
  }

  .rez {
    padding: 0 20px;
    padding-right: 20px;
    width: 35%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .sum {
      position: relative;
      width: 100%;
      //   margin-top: 5px;
      margin-bottom: 15px;
      z-index: 1;

      h5 {
        width: fit-content;
        background: $black2;
        padding-right: 10px;
        font-size: 25px;
        color: white;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 58%;
        left: 0;
        border-top: 1px dashed #bec5cb;
        z-index: -1;
      }
    }
    .subsect {
      padding: 14px 17px;
      background: #4b4b4bcc;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .t {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h6 {
          font-size: 17px;
          color: white;
        }
      }
      .linie {
        width: 100%;
        height: 2px;
        margin: 10px 0;
        background: $black2;
      }
      .button {
        padding: 12px 15px;

        span {
          font-size: 17px;
          color: white;
        }
      }
    }
  }
}
.no {
  font-size: 20px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .cart {
    margin: 50px 20px;
  }
  .final {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .form {
      width: calc(100% - 40px);
      margin: 20px;
      margin-bottom: 30px;
    }
    .rez {
      width: 100%;
      .subsect {
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .final .form {
    .row {
      flex-direction: column;
      justify-content: flex-start;
      position: relative;

      .input_group {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}
