@import "../../utils/styles/base";

.page {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

  .top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 0;
    position: relative;

    .middle {
      width: 100vw;
      margin: 10px 0;
    }

    .title {
      margin: 20px;
      padding: 0px 30px;
      position: relative;
      .nume {
        position: relative;
        z-index: 3;
        color: $main_green;
        font-size: 40px;
        font-weight: 600;
      }
      .linie {
        position: relative;
        top: -17px;
        left: -3px;
        z-index: 1;
        width: 300px;
        height: 17px;
        background: white;
      }
      .rating {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        span {
          small {
            font-size: 15px;
            margin-left: 10px;
            color: $light_green;
          }
        }
      }
    }
    .pret {
      margin: 10px 20px;
      padding: 0px 30px;
      position: relative;

      h3 {
        font-size: 25px;
        color: white;
      }
    }
    .scurt {
      margin: 5px 20px;
      padding: 0px 30px;
      font-size: 17px;
      color: white;
      margin-bottom: 30px;
    }

    .cant {
      padding: 0px 30px;
      margin: 5px 20px;
      width: auto;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      flex-direction: row;

      .u {
        width: 200px;
        height: 55px;
        position: relative;
        button,
        input {
          width: calc(200px / 3);
          text-align: center;
          font-size: 20px;
          outline: none;
          // padding: 15px;
          height: 100%;
          border: none;
        }
        button {
          background: $main_green;
          cursor: pointer;

          i {
            font-size: 20px;
            color: white;
          }

          &:first-of-type {
            border-radius: 10px 0 0 10px;
          }
          &:last-of-type {
            border-radius: 0px 10px 10px 0px;
          }
        }
      }
      .d {
        width: 200px;
        margin-left: 10px;

        .button {
          width: 100%;
          font-size: 15px;
        }
      }
    }
    .update {
      padding: 0px 30px;
      p {
        font-size: 17px;
        color: white;
      }
      span {
        margin-left: 10px;
      }
    }
    .share {
      padding: 0px 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 13px;

      strong {
        font-size: 20px;
        color: white;
      }
      i {
        color: white;
        margin-left: 10px;
        cursor: pointer;
        font-size: 19px;

        &:hover {
          color: $light_green;
        }
      }
    }
    .tabs {
      padding: 0px 30px;
      width: 90vw;
      margin: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px;
      background: #404040;
      margin-top: 50px;

      .buts {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid rgb(86, 86, 86);

        .but {
          text-align: center;
          user-select: none;
          padding: 10px 20px;
          cursor: pointer;
          &:hover {
            background: gray;
            border: 2px solid rgb(86, 86, 86);
            border-bottom: none;
          }
          &.active {
            background: gray;
            border: 2px solid rgb(86, 86, 86);
            border-bottom: none;
            h3 {
              color: $dark_green;
            }
          }
          h3 {
            font-size: 18px;
            color: white;
          }
        }
      }
      .pages {
        width: 100%;
        position: relative;

        .pag {
          display: none;
          padding: 20px;
          h2 {
            font-size: 25px;
            margin: 8px;
            color: white;
            span {
              color: $main_green;
            }
          }
          p {
            color: white;
          }
        }
        .active {
          display: flex;
          flex-direction: column;

          &:has(.revs) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .leave,
            .revs {
              flex: 1;
            }
            .leave {
              padding: 20px;

              h4 {
                margin: 5px;
                text-align: left;
                font-size: 25px;
                color: white;
              }
              .small {
                text-indent: 0;
                font-size: 16px;
                color: gray;
                margin: 7px 0px;

                span {
                  color: $dark_green;
                }
              }
              .leave_rating {
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .your {
                  font-size: 16px;
                  color: gray;
                  margin: 5px 5px 0 0;
                }
                i {
                  margin-right: 5px;
                }
              }
              .rev,
              .rev .revv {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                position: relative;
                width: 100%;

                label {
                  font-size: 18px;
                  color: gray;
                  margin: 10px 0;
                }
                textarea {
                  width: 100%;
                  height: 200px;
                  padding: 20px;
                  font-size: 17px;
                  font-family: $font_karla;
                }
                .button {
                  margin: 15px 0;
                }
              }
            }
            .revs {
              padding: 20px;
              position: relative;

              .review {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 20px;

                .ups {
                  display: flex;
                  justify-content: space-around;
                  align-items: center;

                  img {
                    width: 45px;
                    height: 45px;
                    border-radius: 90%;
                    object-fit: cover;
                    margin: 5px 16px 5px 5px;
                  }
                  .body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    h2 {
                      margin: 5px 0;
                      font-size: 16px;
                      color: gray;
                    }
                  }
                }
                p {
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .also {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 60px;

    .tit {
      font-size: 40px;
      margin: 40px 0;
      color: $light_green;
    }
    .maps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
