@import "../utils/styles/base";

.shop {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 80px;
  background: url("../../img/cevaidksimcer.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
  .top {
    width: 90%;
    height: 70px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    position: relative;
    user-select: none;
    padding: calc((70px - 40.44px) / 2);

    .left {
      width: 350px;
      display: flex;
      height: 100%;
      position: relative;
      justify-content: space-between;
      align-items: flex-start;

      .categorii,
      .sort {
        width: min-content;

        .main {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 6px 15px;
          color: $black2;
          background: white;
          font-size: 17px;
          width: 100px;
          cursor: pointer;
          border-radius: 5px 5px 5px 0;

          i {
            position: relative;
            top: -2.7px;
            margin-left: 5px;
          }
        }
        .drop {
          width: max-content;
          overflow: hidden;
          height: 0;
          transition: all 12.4s ease-in-out;
          display: flex;
          background: white;
          flex-direction: column;
          padding: 0 15px;
          border-radius: 0 5px 5px 5px;

          a {
            width: max-content;
            padding: 10px 0;
            color: $dark_green;
            font-size: 15px;
          }
        }
        .show {
          height: auto;
        }
      }
    }
    .right {
      padding: 25px;

      a {
        color: white;
        font-size: 20px;
        position: relative;
        display: flex;
        i {
          font-size: 30px;
        }
        .nr {
          position: absolute;
          width: 30px;
          bottom: -16px;
          left: 20px;
          height: 30px;
          border-radius: 90%;
          background: red;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid white;
          h6 {
            font-size: 14px;
          }
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .down {
    width: 100vw;
    margin-top: 10px;
    padding: 0 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .left {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 10px;
      position: relative;
      .group {
        width: 100%;
        margin-bottom: 20px;
        background: white;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 10px;
        position: relative;
        user-select: none;

        h2 {
          text-align: center;
          margin: 10px;
        }
        .filters_group {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .input_group {
            width: 100%;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            input {
              width: 17px;
              height: 17px;
              margin-right: 10px;
              accent-color: $main_green;
            }

            input,
            label {
              cursor: pointer;
            }
          }
        }
      }
    }
    .right {
      width: calc(100vw - 280px - 60px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 800px) {
  .shop .down {
    flex-direction: column;
    padding: 0 15px;
    margin: auto;

    .left,
    .right {
      justify-content: space-around;
      width: 100%;
      padding: 0;
    }
  }
}
