.post {
  width: 100%;
  max-width: 400px;
  height: 600px;
  position: relative;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 100px;
  background: $black2;
  z-index: 1;

  &::before {
    content: "";
    z-index: 0;
    width: 100%;
    max-width: 250px;
    height: 300px;
    background: $light_green;
    position: absolute;
    top: -30px;
    left: -30px;
  }

  &::after {
    content: "";
    z-index: 0;
    width: 100%;
    max-width: 250px;
    height: 300px;
    background: $dark_green;
    position: absolute;
    bottom: -30px;
    right: -30px;
  }

  .img {
    width: 100%;
    background: $black2;
    height: 45%;
    position: relative;

    .poza_main {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
    .svg {
      width: 100%;
      position: absolute;
      z-index: 3;
      left: 0;
      height: auto;
      bottom: 0;
      object-fit: cover;
    }
  }
  .text {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: $black2;
    z-index: 2;

    .title {
      width: 100%;
      margin: 30px 0 0px 0;
      position: relative;

      h2 {
        position: relative;
        z-index: 5;
        color: white;
        font-weight: 500;
        font-size: 20px;
        width: 100%;
      }

      .linie {
        z-index: 4;
        position: relative;
        width: 240px;
        height: 17px;
        background: $main_green;
        left: 80px;
        bottom: 12px;
      }
    }
    .para {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 20px;
      margin: 20px 0;
      position: relative;

      .linie_vert {
        width: 30px;
        height: 120%;
        position: relative;
        background: $dark_green;
        margin-right: 20px;
      }
      p {
        color: white;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .link {
      width: 256px;
      font-size: 20px;
      font-weight: 500;
      color: $main_green;
      position: relative;
      padding: 10px;

      .coca {
        width: 0;
        height: 100%;
        background: white;
        transition: 0.2s ease-in-out;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
      }
      span {
        user-select: none;
        z-index: 4;
        position: relative;

        i {
          margin-left: 10px;
        }
      }
      &:hover {
        .coca {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .post {
    width: 330px;
    .text {
      padding: 5px 0;
      .para {
        padding: 0 5px;
      }
    }
  }
}
