.stem {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  // position: relative;
  padding: 70px 0;

  img {
    width: 500px;
    height: auto;
    padding: 0 0 0 20px;
  }

  .stemText {
    padding: 0 0 0 50px;
    width: 600px;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h3 {
      font-size: 37px;
      font-weight: 400;
      color: white;
      margin: 0 0 30px 0;
    }

    h6 {
      font-size: 18px;
      word-spacing: 5px;
      color: white;
      line-height: 1.5;
      font-weight: 400;
    }

    #STEM {
      font-weight: 700;
      color: $main_green;
    }
  }
}

.more {
  margin-top: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;

  .press {
    cursor: pointer;
    user-select: none;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .hide {
    transition: height 0.5s ease-in-out;
    overflow: hidden;

    h6 {
      padding: 0 20px;
      font-size: 18px;
      font-family: "Work Sans";
      word-spacing: 5px;
      color: white;
      line-height: 1.5;
      font-weight: 400;
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .stem {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 70%;
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .stem .stemText {
    padding: 0;
    width: 90vw;
  }
}
