@import "../utils/styles/base";
// G41BaSVvR2P146qD7C1QJvg1XWR2
// <h4 className="info">

.admin {
  margin-top: 100px;
  hr{
    width: 100vw;
  }

  .logged {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .out {
      // width: 100vw;
      margin: 30px 0;
    }

    .blogs_part,
    .premii_part,
    .apps_part,
    .ani_part,
    .alumni_part,
    .members_part,
    .sponsor_part {
      h1{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 800;
        font-family: $font_anek;
        color: $dark_green;
      }
      form {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        input,
        select, 
        textarea {
          width: calc(100% - 100px);
          padding: 20px 30px;
          font-size: 20px;
          background-color: rgb(189, 189, 189);
          font-family: $font_karla;
          border-radius: 10px;
          border: 5px solid $dark_green;
          color: $dark_green;
          font-weight: 700;
          margin: 10px 0;
          outline: none;
        }
        textarea {
          height: 200px;
        }

        .info {
          width: 100vw;
          margin: 10px 0;
          margin-top: 20px;
          padding: 0 30px;
          color: rgb(189, 189, 189);
          font-size: 17px;
          &::before {
            content: "*";
          }
        }
      }
    }
  }
  .login {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .title {
      width: 100vw;
      z-index: 2;
      padding: 20px 100px;
      position: relative;
      h1 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        font-family: $font_karla;
        color: rgb(189, 189, 189);
        z-index: 2;
        position: relative;
      }
      .linie {
        position: absolute;
        width: 200px;
        height: 20px;
        background: $dark_green;
        z-index: 1;
        bottom: 12px;
        right: 280px;
      }
    }
    .error_cont {
      font-size: 17px;
      font-weight: 700;
      margin: 20px 0;
      font-family: $font_mont;
      color: #9d2030;
    }
  }
}
.stem {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  // position: relative;
  padding: 70px 0;

  img {
    width: 500px;
    height: auto;
    padding: 0 0 0 20px;
  }

  .stemText {
    padding: 0 0 0 50px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h3 {
      font-size: 37px;
      font-weight: 400;
      color: white;
      margin: 0 0 30px 0;
    }

    h6 {
      font-size: 18px;
      word-spacing: 5px;
      color: white;
      line-height: 1.5;
      font-weight: 400;
    }

    #STEM {
      font-weight: 700;
      color: $main_green;
    }
  }
}

.more {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;

  .press {
    cursor: pointer;
    margin:10px 0 50px 40px ;
    user-select: none;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    span, i{
      color: $main_green;
      font-size: 30px;
      width: max-content;
    }
    i{
      margin-right: 20px;
    }
  }

  .hide {
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;

    h6 {
      padding: 0 20px;
      font-size: 18px;
      font-family: "Work Sans";
      word-spacing: 5px;
      color: white;
      line-height: 1.5;
      font-weight: 400;
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .stem {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 70%;
      padding-bottom: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .stem .stemText {
    padding: 0;
    width: 90vw;
  }
}
@import "../utils/styles/premii";
