@import "../utils/styles/base";

.adminpages {
  display: grid;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  .adminpage {
    margin-top: 70px;
    padding: 20px;
    width: calc(100vw - 40px - 226px);
    position: relative;
    background: url("../../img/cevaidksimcer.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: top;
    min-height: 100vh;

    .chart_part,
    .users_part,
    .shop_part,
    .premii_part,
    .apps_part,
    .ani_part,
    .alumni_part,
    .members_part,
    .sponsor_part,
    .blogs_part {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .filters {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        button {
          cursor: pointer;
          border: none;
          outline: none;
          padding: 10px 20px;
          margin: 10px 15px;
          background: $dark_green;
          color: white;
          font-size: 20px;
        }
      }
      .prods {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;

        h2 {
          color: white;
          margin-bottom: 10px;
        }
        p {
          color: white;
          margin-bottom: 10px;
        }
        .prod {
          padding: 20px;
          border-bottom: 5px solid $light_green;
          margin-bottom: 20px;
          .buttons {
            margin: 15px 0;
            a,
            button {
              cursor: pointer;
            }
            a button {
              border: none;
              cursor: pointer;
              background: $main_green;
              color: white;
              padding: 0.25rem 0.5rem;
              font-size: 0.875rem;
              line-height: 1.5;
              border-radius: 0;
              margin-right: 20px;
              border: 2px solid white;
            }
          }
        }
      }
      h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        font-family: $font_anek;
        color: $dark_green;
      }
      .cats {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        h2 {
          margin: 10px;
          color: white;
        }
      }
      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        input,
        select,
        textarea {
          width: calc(100% - 100px);
          padding: 20px 30px;
          font-size: 20px;
          background-color: rgb(189, 189, 189);
          font-family: $font_karla;
          border-radius: 10px;
          border: 5px solid $dark_green;
          color: $dark_green;
          font-weight: 700;
          margin: 10px 0;
          outline: none;
        }
        textarea {
          height: 200px;
        }
        h4 {
          font-size: 20px;
          color: white;
          text-align: left;
          width: calc(100% - 100px);
          margin: 5px 10px;
        }

        .info {
          width: 100%;
          margin: 10px 0;
          margin-top: 20px;
          padding: 0 30px;
          color: rgb(189, 189, 189);
          font-size: 17px;
          &::before {
            content: "*";
          }
        }
        .imgg {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 20px;
        }
      }
    }
  }
}
.delete {
  border: none;
  cursor: pointer;
  background: #dc3545;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
  border: 2px solid white;
}

.err {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    padding: 0 40px;
    font-size: 30px;
    color: white;
    span {
      color: $main_green;
      font-weight: bold;
    }
  }
  h2 {
    font-size: 20px;
    color: $light_green;
    margin-top: 20px;
    cursor: pointer;
  }
}
.press {
  color: white;
  font-size: 20px;
}
.adminpages .adminpage {
  table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-top: 50px;

    thead {
      background: $main_green;

      tr {
        border-bottom: 30px solid $black2;

        th {
          padding: 12px 15px;
          font-size: 20px;
          color: white;
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        position: relative;
        display: table-row;
        background: #4b4b4bcc;
        border-bottom: 15px solid transparent;
      }
      td {
        padding: 20px 0;
        text-align: center;

        * {
          vertical-align: middle;
        }
      }
      .delete {
        border: none;
        cursor: pointer;
        background: #dc3545;
        color: white;
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0;
        border: 2px solid white;
      }
    }
  }
  .chart {
    margin: 20px;
  }
  .hour {
    margin: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    .ll,
    .rr {
      padding: 30px;
      width: 50%;
      color: white;
    }
    .rr {
      canvas {
        margin: 30px;
      }
    }
    .ll {
      height: 100%;
      .tti {
        position: relative;
        width: auto;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 30px;
          color: white;
          z-index: 2;
          width: max-content;
          text-align: center;
        }
        .linie {
          position: absolute;
          top: 50%;
          z-index: 1;
          left: 50%;
          width: 200px;
          height: 20px;
          background-color: $main_green;
        }
      }
      h4 {
        span {
          color: $dark_green;
          font-weight: 900;
        }
      }
    }
  }
}
