@import "../utils/styles/base";
@import "./style/stem";

main {
  margin-top: 70px;
  height: calc(100vh - 70px);
  position: relative;
}

.card-about::-webkit-scrollbar {
  display: none;
}

.card-about {
  background-color: $main_green;
  color: white;
  text-shadow: 1px 1px 2px $black2;
  border-radius: 1vw;
  position: absolute;
  width: calc(50% - 10vw - 1vw);
  height: calc(50% - 2vw - 7vh);
  border: 5px solid black;
  transition: 1s;
  z-index: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;  

  img {
    aspect-ratio: 1;
    height: 100%;
    border-radius: 1vw;
  }
  .text-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      padding: 2%;
      margin: 0 3%;
    }
  }
}

#top-left {
  left: 10vw;
  top: 10%;
  border-top-left-radius: 3vw;
}

#top-right {
  top: 10%;
  right: 10vw;
  border-top-right-radius: 3vw;
  flex-direction: row-reverse;
}

#bottom-left {
  bottom: 10%;
  left: 10vw;
  border-bottom-left-radius: 3vw;
}

#bottom-right {
  bottom: 10%;
  right: 10vw;
  border-bottom-right-radius: 3vw;
  flex-direction: row-reverse;
}

#top-left:hover,
#top-right:hover,
#bottom-left:hover,
#bottom-right:hover 
{
  width:  calc(100% - 20vw);
  height: calc(100% - 14vh - 2vw);
  z-index: 99;
  border-radius: 3vw;
}

.stem {
  width: 100vw;
  min-height: 40vh;
  flex-direction: row;
  align-items: flex-start;
  padding: 70px 0;
  display: flex;

  img {
    width: 500px;
    height: auto;
    padding: 0 0 0 20px;
  }
  .steamtext {
    padding: 0 0 0 50px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .more {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
  }
  .hide {
    overflow: hidden;
  }
  span {
    font-weight: 700;
  }
}

@media screen and (max-width: 700px) {
  .stem {
    display: none;
  }

  .card-about {
    justify-content: left;
    align-items: left;
    overflow: hidden;
    height: calc(48% - 2vw - 7vh);
    img {
      width: 100%;
      aspect-ratio: 1;
      position: sticky;
      top: 0;
    }

    .text-content {
      text-align: center;
      h1 {
        font-size: 1.5rem;
      }
    }
  }
  #top-left,
  #top-right,
  #bottom-left,
  #bottom-right {
    flex-direction: column;
  }
  #top-left:hover,
  #top-right:hover,
  #bottom-left:hover,
  #bottom-right:hover 
  {
    height: calc(96% - 14vh - 2vw);
    overflow: scroll;
  }
}


