@import "../utils/styles/base";

.part {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 800px;
  flex-wrap: wrap;
  top: -10px;

  .text,
  .img {
    width: 50%;
    height: 800px;
  }
  .img {
    background: url("../../img/about_team.svg") $black2;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text {
    padding: 30px;
    background: url("../../img/cevaidksimcer.png") $black2;
    background-repeat: no-repeat;
    background-size: cover;

    p {
      color: white;
      padding: 0 10px;
    }
    .title {
      margin: 30px 0 20px 0;
      position: relative;

      h1 {
        position: relative;
        z-index: 3;
        color: white;
        font-weight: 800;
      }

      .linie {
        z-index: 2;
        position: relative;
        width: 300px;
        height: 20px;
        background: $main_green;
        left: 80px;
        bottom: 18px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .part {
    height: auto;
    flex-direction: column;
    .text,
    .img {
      width: 100vw;
    }
    .img {
      height: 610px;
      background-size: 84%;
    }
    .text {
      height: auto;
    }
  }
}

.stem {
  width: 100vw;
  min-height: 40vh;
  flex-direction: row;
  align-items: flex-start;
  padding: 70px 0;
  display: flex;

  img {
    width: 500px;
    height: auto;
    padding: 0 0 0 20px;
  }
  .steamtext {
    padding: 0 0 0 50px;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .more {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
  }
  .hide {
    overflow: hidden;
  }
  span {
    font-weight: 700;
  }
}

@import "./style/stem";
@import "./style/slider";
@import "./style/date";
