@import "../utils/styles/base";
@import "./style/generatie";

.title_gen {
  position: relative;
  width: auto;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .year {
    z-index: 2;
    width: max-content;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 50px 0;
    color: white;
  }
  .linie {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    width: 200px;
    height: 20px;
    background-color: $main_green;
  }
}
