@import "../utils/styles/base";
@import "../utils/styles/premii";
//navbar

//home
.home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 30px;

  .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    user-select: none;
    margin: 0 30px;

    img {
      width: 100%;
      z-index: 5;
      user-select: none;
      max-width: 700px;
    }

    .cerc {
      position: absolute;
    }
  }

  .text {
    z-index: 1;
    width: auto;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    margin: 84px 50px;
    user-select: none;

    h1,
    h2 {
      text-transform: uppercase;
      font-family: $font_mont;
      font-weight: 800;
      color: white;
      line-height: 1;
    }

    h1 {
      font-size: 80px;
      font-family: $font_mont;
      color: $main_green;
    }
    h2 {
      font-size: 55px;
    }
  }
}

@keyframes roteste {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.cifre {
  width: 100vw;
  position: relative;
  min-height: 400px;
  display: flex;
  background: white;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
  flex-wrap: wrap;

  .custom-shape-divider-bottom-1669758197 {
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    line-height: 0;
    transform: rotate(180deg);

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 137px;
    }

    .shape-fill {
      fill: #ffffff;
    }
  }

  h3 {
    font-size: 30px;
  }

  .tab {
    width: 60vw;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .linie {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 30px;
      padding: 20px 0;

      &:last-of-type {
        justify-content: flex-end;
      }

      .cifra {
        margin: 0 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        justify-content: center;

        h1 {
          span {
            font-weight: 400;
          }
          color: $main_green;
          margin-bottom: 15px;
        }

        h2 {
          text-align: center;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .tab {
    width: 100vw !important;
    padding: 30px;

    .linie {
      padding: 0 !important;
      margin: 30px 0 !important;
      justify-content: space-around !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    align-items: center;
    justify-content: center;
    .text {
      margin: 20px 0;
      h2 {
        font-size: 40px;
      }
      h1 {
        font-size: 50px;
      }
    }
  }
  .cifre .tab .linie {
    .cifra {
      margin: 0 10px;
    }
  }
}
.despre {
  overflow: hidden;
  width: 100vw;
  position: relative;
  min-height: 800px;
  background: url(../../img/thobor_team.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 30px;

  &::after {
    content: "";
    background: radial-gradient(transparent -187px, rgba(47, 47, 47, 1) 72%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 4;
  }

  h1 {
    z-index: 5;
    user-select: none;
    font-size: 180px;
    position: absolute;
    top: 10%;
    left: -250px;
    font-weight: 900;
    font-family: $font_anek !important;
    color: rgba($main_green, 0.8);
  }
  h2,
  p {
    z-index: 9;
    color: white;
  }

  h2 {
    font-size: 35px;
    margin: 20px;
  }
  p {
    z-index: 9;
    width: 100%;
    max-width: 1200px;
    position: relative;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
  }

  .custom-shape-divider-bottom-plm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 6;
    line-height: 0;
  }

  .custom-shape-divider-bottom-plm svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
  }

  .custom-shape-divider-bottom-plm .shape-fill {
    fill: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  .despre p {
    font-size: 17px;
    padding: 0;
  }
  .despre {
    h2 {
      margin-top: 50px;
    }
    padding-bottom: 150px;
  }
}
.cards {
  width: 100vw;
  // height: 255px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: -100px;
  z-index: 9;

  .card {
    background-color: white;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 16px 20px 0px rgb(47 47 47 / 30%);
    position: relative;
    padding: 30px;
    border-bottom: $dark_green 2px solid;
    margin: 0 20px 80px 20px;

    p {
      text-align: center;
      color: $black2;
      font-size: 16px;
      text-indent: 0;
      font-weight: 400;
      line-height: 1.2;
      margin: 10px;
    }

    h1 {
      font-size: 30px;
      color: $black2;
      font-weight: 500;
      margin: 10px;
    }

    img {
      width: 100px;
      margin: 30px;
    }
  }
}

.button {
  width: auto;
  padding: 15px 25px;
  border-radius: 15px;
  background: $main_green;
  color: white;
  font-size: 25px;
  user-select: none;
  margin: 20px;
  z-index: 9;
  border: 5px solid $dark_green;
}

:root {
  --yellow: #ffdd40;
  --dark: #2f313a;
  --deg: -86deg;
  --trans: all 0.4s ease 0s;
}

.membrii {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  padding: 0 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member {
  margin: 1.5em 0 0.5em;
  padding: 0.73em;
  background: linear-gradient(
    83deg,
    $main_green 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  width: 80%;
  transition: all 0.4s ease 0s;
}

.member:nth-of-type(even) {
  text-align: right;
  background: linear-gradient(
    -83deg,
    $main_green 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
}

.thumb {
  width: 13vmin;
  height: 13vmin;
  float: left;
  margin-right: 1.25em;
  background: linear-gradient(-86deg, $black2 0 70%, $main_green 0% 100%);
  transform: rotate(-4deg);
  transition: all 0.4s ease 0s;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
  padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
  --deg: 86deg;
  float: right;
  margin-left: 2em;
  margin-right: -3em;
  transform: rotate(4deg);
}

.thumb img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  filter: grayscale(1);
  background: $black2;
}

.member:hover {
  transition: all 0.4s ease 0s;
  filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
  padding: 0.1em;
  transition: all 0.4s ease 0s;
  transform: rotate(-1deg);
  --deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
  --deg: 91deg;
}

.member:hover .thumb img {
  filter: none;
  transition: all 0.4s ease 0s;
}

.description {
  padding-top: 1vmin;

  p {
    padding: 0 2em;
    margin-bottom: 1em;
  }

  h3 {
    background: $black2;
    // background: linear-gradient(182deg, #fff0 60%, $black2 0 100%);
    display: inline;
    transform: rotate(-2deg);
    position: absolute;
    margin: 0;
    margin-top: -2.25em;
    left: 9vmin;
    padding: 0 10px;
    color: $main_green;
    border-radius: 0.25em;
    font-size: 1.35em;
    transform-origin: left bottom;
  }
}

.member:nth-of-type(even) h3 {
  left: inherit;
  right: 9vmin;
  transform: rotate(2deg);
  background: $black2;
  transform-origin: right bottom;
}

.member:hover h3 {
  transition: all 0.4s ease 0s;
  transform: rotate(0deg);
  background: linear-gradient(180deg, #fff0 59%, $black2 0 100%);
}

.co-funder:after {
  content: "CO-FUNDER";
  font-size: 0.75em;
  position: absolute;
  top: -1.5em;
  background: $main_green;
  right: 4em;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: $black2;
  font-weight: bold;
}

.co-funder:nth-of-type(even):after {
  right: inherit;
  left: 4em;
  transform: rotate(-3deg);
}

.description p a {
  display: inline-block;
  margin: 0.5em 0 0 0;
  background: $black2;
  color: $main_green;
  padding: 0.1em 0.5em 0.35em;
  border-radius: 0.5em;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.description p a:hover {
  transition: all 0.4s ease 0s;
  color: $black2;
  background: $main_green;
  font-weight: bold;
}

.description p a img {
  float: left;
  width: 22px;
  filter: invert(1);
  border-radius: 0.15em;
  padding: 2px;
  background: #fff;
  margin-right: 2px;
}

// .scc {
//   width: 100vw;
//   display: flex;
//   align-items: stretch;
// }


.al {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  img {
    width: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .contact {
    .text {
      line-height: 1.5;

      h1 {
        font-size: 30px !important;
      }
      .ful {
        text-shadow: 0 0 5px $black2 !important;
      }
    }
  }
}
