@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Karla:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
$dark_blue: #074f57;
$light_blue:#077187;
$dark_green:#74a57f;
$light_green:#9ece9a;
$maro:#e4c5af;
$black:#2f2f2f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$font_anek: "Anek Devanagari", sans-serif;
$font_karla: "Karla", sans-serif;
$font_mont: "Montserrat", sans-serif;
$font_roboto: "Roboto", sans-serif;
$black1: rgb(6, 8, 61);
$black2: #2f2f2f;
$main_green: #26b33e;
$light_green: #6ef188;
$dark_green: #146622;

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  text-decoration: none;

  &::first-letter {
    text-transform: uppercase;
  }
}
div time,
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
p {
  text-indent: 30px;
}
a,
h5,
h6,
span {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

p,
h3,
h4 {
  font-weight: 600;
  font-family: $font_anek;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.button {
    width: auto;
    padding: 15px 25px;
    border-radius: 15px;
    background: $main_green;
    color: white;
    font-size: 25px;
    user-select: none;
    margin: 20px;
    z-index: 9;
    border: 5px solid $dark_green;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  /* TIMELINE
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul {
    background-color: #074f57;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23077187' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23E4C5AF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: $light_green;
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $light_green transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent $light_green;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* EFFECTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: $light_blue;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  /* GENERAL MEDIA QUERIES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $light_green transparent transparent;
    }
  }
  
  /* EXTRA/CLIP PATH STYLES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
  