.form-container {
    max-width: 600px;
    margin: 100px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 6px;
    background: #333;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #00ff11;
    box-shadow: 0 0 5px rgba(0, 255, 42, 0.5);
}

.border {
    border: 1px solid #444;
    border-radius: 6px;
    padding: 10px;
    background: #222;
}

.signature-canvas {
    width: 100%;
    max-width: 500px;  /* Prevents it from being too large on bigger screens */
    height: 45vh;  /* Default height */
    max-height: 300px; /* Limits height on large screens */
    border: 1px solid #ccc;
    background: rgb(36, 36, 36);
    border-radius: 15px;
    border-style: groove;
    margin: auto; /* Centers it */
}

/* Mobile Optimization */
@media (max-width: 768px) {
    .signature-canvas {
        width: 90%; /* Adjust width for smaller screens */
        height: 35vh; /* Adjust height */
        max-height: 250px;
    }
}

@media (max-width: 480px) {
    .signature-canvas {
        width: 100%;
        height: 35vh; /* Reduce height further for very small screens */
        max-height: 300px;
    }
}



.button {
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-align: center;
    font-weight: bold;
}

.button-clear {
    font-family: sans-serif;
    background: #ff7c7c;
    border: 1px solid #ff7c7c;
    color: white;

    &:hover {
        background: #c55555;
    }

    &:active {
        transform: scale(0.95);
    }
}

.button-submit {
    font-family: sans-serif;
    left: 0;
    right: 0;
    margin-top: 50px;
    align-self: center;
    background: #00ff11;
    border: 1px solid #0fb300;
    color: white;

    &:hover {
        background: #09b300;
    }

    &:active {
        transform: scale(0.95);
    }
}