@import "../utils/styles/base";

.blog_post {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.title {
  margin: 20px;
  .title2 {
    width: 100%;
    margin: 30px 0 0px 0;
    position: relative;

    h1 {
      position: relative;
      z-index: 5;
      color: white;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 40px;
      width: 100%;
    }

    .linie {
      z-index: 4;
      position: relative;
      width: 300px;
      height: 17px;
      background: $main_green;
      left: 80px;
      bottom: 39px;
    }
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark_green;
    font-size: 20px;

    a {
      margin-left: 15px;
      color: gray;
    }
  }
}


@import "./style/slider_post";
