@import "../utils/styles/base";

.blog_post {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.title {
  margin: 20px;

  h1 {
    font-size: 40px;
    color: gray;
    margin-bottom: 20px;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    a {
      margin-left: 15px;
      color: gray;
    }
  }
}


@import "./style/slider_post";
