.app {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  z-index: 85;

  .qr_cont {
    width: calc(100% + 30px);
    max-width: 360px;
    background: url(../../../../img/before.svg), url(../../../../img/after.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top left, bottom right;
    margin: 40px 20px;
    padding: 30px;

    .qr {
      width: 300px;
      height: 300px;
      margin: 0;
    }
  }
  .top {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    flex-wrap: wrap;

    .img {
      position: relative;
      margin: 0 55px;
      width: calc(100% + 30px);
      max-width: 500px;
      background: url(../../../../img/before.svg),
        url(../../../../img/after.svg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: top left, bottom right;
      // width: calc(100% - 30px);
      padding: 30px;
      // .before {
      //   content: "";
      //   z-index: 0;
      //   width: 100%;
      //   max-width: 250px;
      //   height: 50%;
      //   background: url(../../../../img/before.svg);
      //   background-repeat: no-repeat;
      //   background-size: contain;
      //   background-position: top left;
      //   position: absolute;
      //   top: -15px;
      //   left: -15px;
      // }

      // .after {
      //   z-index: 0;
      //   content: "";
      //   width: 100%;
      //   max-width: 250px;
      //   height: 50%;
      //   background: url(../../../../img/after.svg);
      //   background-repeat: no-repeat;
      //   background-position: bottom right;
      //   background-size: contain;
      //   position: absolute;
      //   bottom: -15px;
      //   right: -15px;
      // }

      img {
        position: relative;
        z-index: 5;
        height: 500px;
        object-fit: cover;
        width: 100%; // max-width: 600px;
        // margin: 20px;
      }
    }

    .txt {
      width: auto;
      padding: 20px;
      width: 100%;
      max-width: 500px;
      position: relative;

      .title {
        margin: 30px 0 20px 0;
        position: relative;

        h1 {
          position: relative;
          z-index: 3;
          color: white;
          font-weight: 800;
        }

        .linie {
          z-index: 2;
          position: relative;
          width: 300px;
          height: 20px;
          background: $main_green;
          left: 80px;
          bottom: 18px;
        }
      }
      .text {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .linie_vert {
          width: 30px;
          height: 200px;
          margin: 0 20px;
          background: $main_green;
        }
        p {
          color: white;
          font-size: 19px;
        }
      }
    }
  }
  .linie_sep {
    align-self: flex-start;
    width: 50vw;
    height: 20px;
    position: relative;
    background: $light_green;
    margin: 20px 0 50px 50px;
  }
}
