#eLpYCVJXrm61 {
  margin: 40px 0;
}
#eLpYCVJXrm64_ts {
  animation: eLpYCVJXrm64_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm64_ts__ts {
  0% {
    transform: translate(1088.473969px, 2205.635925px) scale(1, 1);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  50% {
    transform: translate(1088.473969px, 2205.635925px) scale(1.4, 1.4);
  }
  100% {
    transform: translate(1088.473969px, 2205.635925px) scale(1, 1);
  }
}
#eLpYCVJXrm65_ts {
  animation: eLpYCVJXrm65_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm65_ts__ts {
  0% {
    transform: translate(1914.439209px, 2205.33197px) scale(1, 1.002013);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  50% {
    transform: translate(1914.439209px, 2205.33197px) scale(1.4, 1.4);
  }
  100% {
    transform: translate(1914.439209px, 2205.33197px) scale(1, 1);
  }
}
#eLpYCVJXrm67_to {
  animation: eLpYCVJXrm67_to__to 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm67_to__to {
  0% {
    transform: translate(729.079407px, 1050px);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  50% {
    transform: translate(729.079407px, 1158.42px);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  100% {
    transform: translate(729.079407px, 1050px);
  }
}
#eLpYCVJXrm68_to {
  animation: eLpYCVJXrm68_to__to 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm68_to__to {
  0% {
    transform: translate(2275.145142px, 1159.875671px);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  50% {
    transform: translate(2275.145142px, 1050px);
    animation-timing-function: cubic-bezier(0.025, 0.6, 0.03, 0.995);
  }
  100% {
    transform: translate(2275.145142px, 1159.88px);
  }
}
#eLpYCVJXrm69_tr {
  animation: eLpYCVJXrm69_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm69_tr__tr {
  0% {
    transform: translate(8990.0625px, 2255px) rotate(0deg);
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  100% {
    transform: translate(8990.0625px, 2255px) rotate(360deg);
  }
}
#eLpYCVJXrm610_tr {
  animation: eLpYCVJXrm610_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm610_tr__tr {
  0% {
    transform: translate(4528.45908px, 1778.097px) rotate(0deg);
  }
  100% {
    transform: translate(4528.45908px, 1778.097px) rotate(360deg);
  }
}
#eLpYCVJXrm611_tr {
  animation: eLpYCVJXrm611_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm611_tr__tr {
  0% {
    transform: translate(5457.57647px, 2770.00643px) rotate(0deg);
  }
  100% {
    transform: translate(5457.57647px, 2770.00643px) rotate(360deg);
  }
}
#eLpYCVJXrm612 {
  animation: eLpYCVJXrm612_c_o 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm612_c_o {
  0% {
    opacity: 0;
  }
  16.666667% {
    opacity: 1;
  }
  33.333333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666667% {
    opacity: 0;
  }
  83.333333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#eLpYCVJXrm615 {
  animation: eLpYCVJXrm615_c_o 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm615_c_o {
  0% {
    opacity: 0;
  }
  16.666667% {
    opacity: 1;
  }
  33.333333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666667% {
    opacity: 0;
  }
  83.333333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#eLpYCVJXrm617 {
  animation: eLpYCVJXrm617_c_o 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm617_c_o {
  0% {
    opacity: 1;
  }
  16.666667% {
    opacity: 0;
  }
  33.333333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666667% {
    opacity: 1;
  }
  83.333333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#eLpYCVJXrm618 {
  animation: eLpYCVJXrm618_c_o 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm618_c_o {
  0% {
    opacity: 1;
  }
  16.666667% {
    opacity: 0;
  }
  33.333333% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  66.666667% {
    opacity: 1;
  }
  83.333333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#eLpYCVJXrm619 {
  animation: eLpYCVJXrm619_c_o 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm619_c_o {
  0% {
    opacity: 0;
  }
  16.666667% {
    opacity: 1;
  }
  33.333333% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  66.666667% {
    opacity: 0;
  }
  83.333333% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#eLpYCVJXrm620_to {
  animation: eLpYCVJXrm620_to__to 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm620_to__to {
  0% {
    transform: translate(645.371917px, 272.712772px);
  }
  50% {
    transform: translate(654.5422px, 279.010319px);
  }
  100% {
    transform: translate(645.37px, 273.03187px);
  }
}
#eLpYCVJXrm620_tr {
  animation: eLpYCVJXrm620_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm620_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-36deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#eLpYCVJXrm621_to {
  animation: eLpYCVJXrm621_to__to 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm621_to__to {
  0% {
    transform: translate(599.036976px, 273.03187px);
  }
  50% {
    transform: translate(594.146159px, 263.520065px);
  }
  100% {
    transform: translate(599.04px, 273.03px);
  }
}
#eLpYCVJXrm621_tr {
  animation: eLpYCVJXrm621_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes eLpYCVJXrm621_tr__tr {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
