.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  flex-flow: row ;
  padding: 30px 30px 20px 30px;
  color: white;
}

// .footer > * {
//   flex: 1 100%;
// }

// .footer__addr {
  // margin-right: 1.25em;
  // margin-bottom: 2em;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
// }

.footer__logo {
  height: 80px;
  width: auto;
  object-fit: contain;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

// .footer address {
//   font-style: normal;
//   color: #999;
// }


.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__ul {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(1vw, 20px);
  margin-right: 80px;
  // line-height: 35px;

  img {
    width: 35px;
  }

  a {
    color: #999;
    height: 35px;
    display: flex;
    align-items: center;
  }

  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: $main_green;
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
}

// .nav__ul--extra {
//   column-count: 2;
//   column-gap: 1.25em;
// }

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: #999;

  p {
    text-indent: 0;
    text-wrap: nowrap;
    white-space: nowrap;
    display: block;
  }
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  // .footer__addr {
  // flex: 1 0px;
  // }

  .footer__nav {
    flex: 2 0px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
  }
  .legal {
    font-size: 0.7rem;
  }
  .nav__ul {
    margin-right: 60px;
    
    .footer__btn {
      font-size: 0.8em;
    }
  }
}
