.navigation {
  user-select: none;
  z-index: 9999;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: $black2;
  padding: 0 40px;
}

#nav-container {
  max-width: 100vw;
  margin: 0 auto;
}

.brand {
  position: absolute;
  gap: 20px;
  color: white;
  float: left;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headers {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  a, a:visited {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

  }

  img {
    height: 70px;
    padding: 10px;
    aspect-ratio: 1;
    margin: auto;
    position: relative;
  }
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $black2;
        color: white;
        text-decoration: none;

        &::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: $main_green;
          width: 0%;
          bottom: 0px;
        }

        &:hover{
          &::before {
            width: 70%;
          }
        }
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $black2;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 1270px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
    ul {
      display: none;
      width: 100vw;
      left: -40px;
      position: relative;

      li {
        float: none;

        a {
          padding: 15px;
          line-height: 20px;

          &:hover::before {
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 0px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  background-color: transparent;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 24px;
    background: $main_green;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
    width: 37px;
  }
  span:after {
    width: 15px;
    bottom: -10px;
  }
  &.active span {
    width: 35px;
    background-color: transparent;

    &:before,
    &:after {
      width: 35px;
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 1270px) {
  .nav-list {
    display: flex !important;
  }
}
