@import "./variabiles";

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
}
  
.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        $purple,
        $violet,
        $pink,
        $purple
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
