.up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: $main_green;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  scroll-behavior: smooth;
  padding: 10px;
  z-index: 999;
  box-sizing: content-box;
  // border: 5px solid $dark_green;
}

