$font_anek: "Anek Devanagari", sans-serif;
$font_karla: "Karla", sans-serif;
$font_mont: "Montserrat", sans-serif;
$font_roboto: "Roboto", sans-serif;
$black1: #06083d;
$black2: #2f2f2f;
$main_green: #26b33e;
$light_green: #6ef188;
$dark_green: #146622;